body {
    font-family: "kepler-std-caption", serif;
    font-weight: 300;
    font-style: normal;

    background-color: black;
    color: #727272;

    transition: 2s;

    /*
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    */
}

div {
    transition: 2s;
}


h2 {
    font-family: "contralto-big", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;

     /*
    
    
    */

    color: white;

    padding: 21pt;

    transition: .5s;
}

p {
    font-size: 18px;

    transition: .5s;

    /*
    font-family: "p22-mackinac-pro", serif;
    font-weight: 400;
    font-style: normal;
    */

    /*
    font-family: "kepler-std", serif;
    font-weight: 300;
    font-style: normal;
    */

    
    font-family: "kepler-std-caption", serif;
    font-weight: 300;
    font-style: normal;
    
    /*
    font-family: "utopia-std-display", serif;
font-weight: 400;
font-style: normal;
*/


    /*
    font-family: "ltc-caslon-pro", serif;
font-weight: 400;
font-style: normal; */
}


/* spinning circle from https://www.youtube.com/watch?v=tqOSN4K5ha4 */
h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    font-family: "contralto-big", sans-serif;
    font-weight: 400;
    font-style: normal;
}
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
section .text {
    position: absolute;
    /*
    color: white; 
    */
    font-size: 1.5em;
    user-select: none;
    pointer-events: none;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0% 
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}
section .text span {
    position: absolute;
    display: inline-block;
    transform-origin: 0 170px;
    top: -170px; 
}

h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;

    font-family: "contralto-big", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.circ {
    /*
    position: relative;
    display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    overflow: hidden;
}
section .text2 {
    position: absolute;
    font-size: 1.5em;
    user-select: none;
    pointer-events: none;
    animation: animate 10s linear infinite;
    z-index: -1;
}
section .text2 span {
    position: absolute;
    display: inline-block;
    transform-origin: -60px 100px;
    /*
    top: -170px; */
}


#wait {
    animation: wait 17s linear;
}
@keyframes wait {
    0%
    {
        opacity: 0%;
    }
    50% 
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
    }
}


.title {
    text-align: center;
    font-size: 96px;
}

.by {
    text-align: right;
    text-anchor: end;
    margin-top: auto;
}

.center {
    height: 800px;
    position: relative;
}
.center p {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 75%;
    transform: translate(-50%, -50%); 
}
.center h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    } 

    
.words {
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    margin: 0;
    position: absolute;
} 

a {
    color: white;
    transition: 2.5s;
    text-decoration: underline;
}
a:hover {
    background-color: white;
    color: black;
}
.pa {
    color: #727272;
    transition: 2.5s;
}

.box {
    width: 40%;
    margin: auto;
    padding-top: 3%; 

    height: fit-content;
    /* border: 2pt solid green; */
    z-index: 2;
}


#tree {
    transform: rotate(-71.09deg);
    position: absolute;
    left: 526px;
    top: 504.84px;

    font-size: 60pt;
    z-index: -1;
    color: black;
    text-decoration: underline;

    transition: 2s ease-in-out;
}
#tree:hover {
    color: white;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 34%, rgba(255,255,255,1) 100%);
}
#tree2 {
    transform: rotate(-81.09deg);
    position: absolute;
    left: 566px;
    top: 354.84px;

    font-size: 60pt;
    z-index: -1;
    color: black;
}
#tree3 {
    transform: rotate(-91.09deg);
    position: absolute;
    left: 576px;
    top: 224.84px;

    font-size: 60pt;
    z-index: -1;
    color: black;
}
#fruit {
    position: absolute;
    left: 427px;
    top: 279px;

    font-size: 40pt;
    z-index: -1;
    color: black;
}
#fruit2 {
    position: absolute;
    left: 487px;
    top: 179px;

    font-size: 40pt;
    z-index: -1;
    color: black;
}
#fruit3 {
    position: absolute;
    left: 827px;
    top: 269px;

    font-size: 40pt;
    z-index: -1;
    color: black;
}
#fruit4 {
    position: absolute;
    left: 727px;
    top: 229px;

    font-size: 40pt;
    z-index: -1;
    color: black;
}
#fruit5 {
    position: absolute;
    left: 667px;
    top: 129px;

    font-size: 40pt;
    z-index: -1;
    color: black;
}
/*
#demo6 {
    z-index: 7;
} */

#appear {
    opacity: 0%;
    transition: 2s;
}
#disappear {
    opacity: 100%;
    transition: 2s ease-out;
}
#appear2 {
    opacity: 0%;
    transition: 2s ease-out;
}

#circle {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    border: 6px solid #727272;
    filter: blur(3.5px);

    margin-left: 80%;
    transition: 1s;
}
#circle:hover {
    border: 9px solid white;
}
.gone {
    opacity: 0%;
}
.circle {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    border: 6px solid #727272;
    filter: blur(3.5px);

    margin-left: 80%;
    transition: 1s;
}

#mind {
    position: absolute;
    left: 101px;
    top: -336px;
    

    z-index: -1;
    color: black;
    font-size: 550px;
}
#poem {
    position: absolute;
    left: 1085px;
    top: 527px;

    z-index: -1;
    color: black;
    font-size: 40px;
    animation: wait 7s linear;
    transition: 1s;
    text-decoration: underline;
}
@keyframes poem {
    from 
    {
        opacity: 0%;
    }
    to
    {
        opacity: 100%;
    }
}
#poem:hover {
    color: white;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 34%, rgba(255,255,255,1) 100%);
}

#weird {
    position: absolute;
    /*
    width: 385px;
    height: 77px;
    */
    left: 169px;
    top: 402px;

    font-size: 128px;
    transform: rotate(-90deg);
    z-index: -1;
    color: black;
}
#theatrical {
    position: absolute;
    /*
    width: 716px;
    height: 77px;
    */
    left: 515px;
    top: 0px;

    font-size: 128px;
    z-index: -1;
    color: black;
}
#shit {
    position: absolute;
    /*
    width: 238px;
    height: 77px;
    */
    left: 1143px;
    top: 335px;


    transform: rotate(90deg);

    font-size: 108pt;
    z-index: -1;
    color: black;
    text-decoration: underline;

    transition: 2s ease-in-out;
}
#shit:hover {
    color: white;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 34%, rgba(255,255,255,1) 100%);
}

#semi {
    word-spacing: 23rem;
    width: 80%;
    margin: auto;

    transition: 3s;
    text-align: center; 
    line-height: 32px;

    opacity: 0%;
}

/* 
scroll bars from https://www.winterwind.com/tutorials/css/37
*/
.container {
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.scroll {
    white-space: nowrap;
    margin: 0 2em;
}
.scroll div {
    display: flex;
    gap: 2em;
}
.scroll p {
    font-size: 5em;
    color: black;
    /*
    font-weight: bold;
    */
    margin-bottom: 0;
    line-height: 10px;
}
.RightToLeft {
    animation: RightToLeft 20s infinite linear;
}
@keyframes  RightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
}
.LeftToRight {
    animation: LeftToRight 25s infinite linear;
}
@keyframes  LeftToRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
}

strong {
    font-family: "contralto-big", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;

    color: black;
}

#liv {
    color: black;
}
#liv:hover {
    color: white;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 34%, rgba(255,255,255,1) 100%);
}

.cir {
    /*
    position: relative;
    display: flex; */
    justify-content: center;
    align-items: center;
    
    min-height: 50vh;
    /*
    height: min-content;
    */
    overflow: hidden;

    transform-origin: -100px 0px;;
}
section .text3 {
    position: absolute;
    font-size: 1.5em;
    user-select: none;
    pointer-events: none;
    animation: animate 20s linear infinite;
    z-index: -1;
}
section .text3 span {
    position: absolute;
    display: inline-block;
    transform-origin: 0px 180px;
    top: -180px; 
}
#gone {
    opacity: 0%;
}

.word {
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    position: absolute;
    padding-top: 15%;

    font-size: 30px;
    color: black;
    word-spacing: 3em;
} 
.words-2 span{
    animation: animateWords 7s linear infinite 0s;
    text-align: center;
}
.word span:nth-child(2) {
    animation-delay: 1s;
    color: black;
}
.word span:nth-child(3) {
    animation-delay: 2s;
    color: black;
}
.word span:nth-child(4) {
    animation-delay: 3s;
    color: black;
}
.word span:nth-child(5) {
    animation-delay: 4s;
    color: black;
}
@keyframes animateWords {
    0% { opacity: 1; animation-timing-function: ease-out; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
    25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

#unfiltered {
    color: black;

    position: absolute;
    left: 100px;
    top: 20px;
}
#fresh {
    color: black;

    position: absolute;
    left: 222px;
    top: 126px;
}
#vital {
    color: black;

    position: absolute;
    left: 444px;
    top: 221px;
}
#horror {
    color: black;

    position: absolute;
    left: 334px;
    top: 321px;
}
#admiration {
    color: black;
    font-size:40px;

    position: absolute;
    left: 30px;
    top: 20px;
}
#unfiltered2 {
    color: black;

    position: absolute;
    left: 999px;
    top: 550px;
}
#fresh2 {
    color: black;

    position: absolute;
    left: 999px;
    top: 580px;
}
#vital2 {
    color: black;

    position: absolute;
    left: 999px;
    top: 610px;
}
#horror2 {
    color: black;

    position: absolute;
    left: 999px;
    top: 640px;
}
#disappointment {
    color: black;
    font-size:40px;
    text-decoration: underline;

    position: absolute;
    right: 40px;
    bottom: 20px;
}
#disappointment:hover {
    color: white;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 34%, rgba(255,255,255,1) 100%);
}